.SignupSection .logo{
    width: 80px;
}
.custom-select {
    width: 200px; /* Adjust width as needed */
    border: 1px solid #ccc;
    padding: 5px;
    /* Add additional styles for the container here */
  }
  
.custom-select select {
    font-size: 16px;
    background-color: #fff;
    /* Add additional styles for the select element here 
       (e.g., font-family, border-radius) */
}